* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
}

html,
body {
  height: 100%;
  width: 100%;
}

.main {
  display: flex;
  height: 100%;
}

.content {
  margin-left: 200px;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

video {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

}

.video-wrapper {

  width: 500px;
  height: 100%;
  position: relative;
  overflow: hidden;
  text-align: center;
  display: flex;


}

.logo-white {
  position: relative;
  width: 100px;
  top: 10%;
}

.video-promo {
  position: relative;
}

.heading {
  text-align: left;
  font-weight: bold;
  font-size: 32px;
}

.google {
  cursor: pointer;
  margin-top: 25px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-right: 162px;
  padding-left: 162px;
  border-radius: 32px;
  color: black;
  background-color: white;
  border: 1px solid grey;
  font-size: 22px;
  cursor: pointer;
}

.g-logo {
  width: 55px;
  cursor: pointer;
  vertical-align: middle;
}

.text-sign {
  margin-top: 25px;
}

.email {
  margin-top: 25px;
  text-align: left;
}

.head {
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 22px;
}

input {
  margin-bottom: 12px;
  width: 100%;
  font-size: 32px;
  border-radius: 18px;
  border: 2px solid grey;
  padding: 8px;
}

.submit-button {
  width: 100%;
  padding: 18px;
  font-size: 22px;
  border-radius: 32px;
  border: none;
  background-color: black;
  color: white;
  margin-top: 25px;
  cursor: pointer;
}

.link {
  color: black;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  transition: text-decoration 0.15s;
}
.link:hover{
  text-decoration: underline;
}